<template name="_loginButtonsAdditionalLoggedInDropdownActions">

    <section class="profile">
        <div class="profile-header"><img src="http://dir.agosto.nl/dump/sara-header.png" alt=""/></div>
        <div class="profile-content"><img src="{{photo}}" alt="Portret of Sara Robertson"/>
            <h1>{{user.profile.name}}</h1>
        </div>
        <ul aria-label="Statistics" >
            <li>383<span>followers</span></li>
        </ul>
    </section>
    <form>
        <legend>{{_ 'delivery_data'}}</legend>
        <div class="form-group">
            <label for="input-address" class="col-lg-2 control-label">{{_ "user_address"}}</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" data-name="delivery-address" id="input-address" placeholder="{{_ "user_address"}}">
            </div>
        </div>
        <div class="form-group">
            <label for="delivery-type"  class="col-lg-2 control-label">{{_ 'delivery_type'}}</label>
            <div class="col-lg-10">
                <select class="form-control"  data-name="delivery-type" id="delivery-type">
                    {{#each deliveryTypes}}
                    <option value="{{value}}">{{text}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </form>

</template>