<template name="footer">
    <footer class="container-fluid footer-well">

        <div class="row">
            <div class="col-md-4 footer-date">
                {{_ "mail"}}: book-shoop@mail.com
            </div>
            <div class="col-md-4 footer-date">
                {{_ "phone"}}: +3805948654
            </div>
            <div class="col-md-4 footer-date">
                {{_ "street"}}: Lviv 1
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer-brand">
                {{_ "brand"}} &copy;2015
            </div>
        </div>
    </footer>
</template>