<template name="BookItem">
    <figure class="snip1171">
        <img src="{{#if hasPhoto}}{{image.url store='images'}}{{else}}/images/no-image.png{{/if}}">
        <div class="price">${{price}}</div>
        <figcaption>
            <h3 class="title" data-action="open-book">{{title}} </h3>
            <p>
                {{#markdown}}{{description}}{{/markdown}}
            </p>
        {{#if currentUser}}
                <a href="#" data-action="add-to-cart" >{{_ 'add_to_cart'}}</a>
        {{/if}}
        </figcaption>
    </figure>

</template>