<template name="BookItem">
    <figure class="snip1171">
        <div class="item-image-wraper" data-action="open-book">
            <img src="{{#if hasPhoto}}{{image.url store='images'}}{{else}}/images/no-image.png{{/if}}">
        </div>
        <div class="price">${{price}}</div>
        <figcaption>
            <h3 class="title-left" data-action="open-book"> <a data-action="open-author">{{authorName}}</a> : {{title}} </h3>

            <p>
                {{#markdown}}{{description}}{{/markdown}}
            </p>
        {{#if currentUser}}
                <a class="add-to-cart" href="#" data-action="add-to-cart" >{{_ 'add_to_cart'}}</a>
        {{/if}}
        </figcaption>
    </figure>

</template>