<template name="BookItem">


<div class="col-md-6">
    <div class="component">
        <ul class="align">
            <!-- Book  -->
            <li>
                <figure class='book'>
                    <!-- Front -->
                    <ul class='hardcover_front'>
                        <li>
                            <img src="{{#if hasPhoto}}{{image.url store='images'}}{{else}}/images/no-image.png{{/if}}" alt="" width="100%" height="100%">
                            {{#if top}}
                                <span class="ribbon bestseller">TOP</span>
                            {{/if}}
                        </li>
                        <li></li>
                    </ul>
                    <!-- Pages -->
                    <ul class='page'>
                        <li></li>
                        <li>
                            {{#if currentUser}}
                                <a class="btn-by" href="#" data-action="add-to-cart" >{{_ 'add_to_cart'}}</a>
                            {{/if}}
                        </li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <!-- Back -->
                    <ul class='hardcover_back'>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class='book_spine'>
                        <li></li>
                        <li></li>
                    </ul>
                    <figcaption id="book">
                        <div class="price"><span class="label label-info">${{price}}</span></div>
                        <h1 data-action="open-book" >{{title}}</h1>
                        <a data-action="open-author">{{authorName}}</a>
                        <div class="description">{{#markdown}}{{cut description 200}}{{/markdown}}</div>

                    </figcaption>

                </figure>
            </li>
        </ul>
    </div>
    <div class="col-md-offset-3 book-rating">
    {{> starsRating rating=bookRating size=20}}
    </div>
</div>

</template>