body{
    background-color: #212121;
}
.navbar{
    background-color: #000000 !important ;
}
.btn-primary{
    background-color: #000000 !important ;
}
.white-text{
    color:white;
}
.a, a:hover, a:focus {
    color: #000000;
}